.nosotrosMain{
    @include flex (column, center, center);
}

.nosotrosFoto{
    width: 80vw;
}

.nosotrosParrafo{
    font-size: 2.2rem;
    width: 80vw;
    margin: $espacioMd 5px;
}
@media (min-width: 768px){
    .nosotrosMain{
    flex-direction: row;
    }

    .nosotrosMainReverse{
    flex-direction: row-reverse;
    }

    .nosotrosParrafo{
    margin: 0 $espacioLg;    
    }
}
@media (min-width: 1200px){}