main{
    background-color: $terceario;
    border-bottom: dashed $primario $espacioXxs;
    section{
        img{
        width: 70vw;
        margin: $espacioLg $espacioMd;
        }
        p{
            font-size: $sizeXl;
            width: 70vw;
            text-align: center;
            margin: $espacioMd;
        }
    }
    }
h1{
    text-align: center;
    color: $text-color;
    padding: 50px 0;
}
.nosotrosParrafo, .indexParrafo{
    font-size: $sizeXl
}
.principal{
    @include flex (column, center, center);
}

/* Media a 768 */
@media (min-width: 768px){
/* Index */
    .principal{
        flex-direction: row;
    }
    .indexImagen{
        width: 45vw;
    }
    .indexParrafo{
        width: 45vw;
        margin: $espacioLg;
    }
}

/* Media a 1200 */
@media (min-width: 1200px){
/* Index */
.logo2{
    justify-content: left;
    padding-left: 20px;
}

.links{
    justify-content: end;
}
.redes{
    justify-content: start;
}

.face{
    width: 8vw;
    margin: 5px 0;
}
}