.productos{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#foto .fotoProducto{
    border-radius: 100px 0px 100px 0px;
    -moz-border-radius: 100px 0px 100px 0px;
    -webkit-border-radius: 100px 0px 100px 0px;
    border: 5px solid $text-color;
    width: 55vw;
}

figure figcaption{
    text-align: center;
    font-size: $sizeMd;
    color: $text-color;
}
@media (min-width: 768px){
    #foto .fotoProducto{
        width: 30vw;
    }
}
@media (min-width: 1200px){
    #foto .fotoProducto{
        width: 20vw;
    }
    
    .productos{
        margin-bottom: $espacioLg;
    }
    
    .fotoProducto{
       width: 18vw;
    }
}