//Colores
$primario: rgba(114, 44, 57, 1);
$secundario: rgba(165, 81, 96, 1);
$terceario: rgba(242, 162, 176, 1);
$cuarto: rgba(191, 171, 170, 1);
$text-color: rgba(63, 26, 26, 1);

//Font Family
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto+Slab:wght@600&display=swap');
$font-principal:'Merriweather', serif;
$font-secundario:'Roboto Slab', serif;

//Font Size
$sizeXs:1rem;
$sizeMd:1,5rem;
$sizeLg:2rem;
$sizeXl:2,5rem;
$sizeXxl:3rem;

//Espacios
$espacioXxs:2px;
$espacioXs:10px;
$espacioMd:20px;
$espacioLg:30px;
$espacioXl:40px;
$espacioXxl:60px;

//Normas
*{
    overflow-x: hidden;
    font-family: 'Merriweather', serif;
    font-size: 62,5%;
}

h1{
    font-family: 'Roboto Slab', serif;
    font-size: 5rem;
}

.contenedor{
    display: flex;
}

main{
    color: $text-color
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "main"
    "pie";
}

#header{
    grid-area: header;
}

#main{
    grid-area: main;
}

#footer{
    grid-area: pie;}
